/*adds different view mode for larger devices*/

body {
	margin: auto;
	height: 1024px;
	max-width: 1366px;
	display: grid;
	background-color: beige;
	grid-template-columns: repeat(16, 1fr);
	grid-template-rows: repeat(8, 1fr);
}

/* ensures images scale down or up with device window hello*/
img{
	max-width:100%;
	height: auto;
}

a {
	text-decoration: none;
	/*removes underline from hypertext*/
}
/*Header related Classes and Parameters*/
header {
	font-size: 25px;
	grid-column: 1;
	grid-row: 1;
}

/*Section Related Classes and Parameters*/

.noteBook {
	grid-column: 1/11;
	grid-row: 2/6;
	padding-left: 10%;
	padding-top: 5%;
}
.noteBookOpen1Blue {
	grid-column: 1/11;
	grid-row: 2/6;
	padding-left: 10%;
	padding-top: 5%;
	display:none;
}
.noteBookOpen1Text {
	grid-column: 1/11;
	grid-row: 2/6;
	padding-left: 10%;
	padding-top: 5%;
	display:none;
}
.tears {
	grid-column: 1/11;
	grid-row: 2/6;
	padding-left: 10%;
	padding-top: 5%;
	display:none;
}
.me {
	grid-column: 1/11;
	grid-row: 2/6;
	padding-left: 10%;
	padding-top: 5%;
	display:none;
}
.marker {
	grid-column: 12;
	grid-row: 3/9;
	/* padding-left: 10%; */
	padding-top: 10%;
}
.pen {
	grid-column: 13/15;
	grid-row: 3/9;
	/* padding-left: 10%; */
	padding-top: 10%;
}

/*Footer Related Parameters*/
footer {
	background-color: aqua;
	text-align: center;
	grid-column: 1/17;
	grid-row: 8;
}
footer a {
	color: beige;
}

/*adds different view mode for larger devices*/

@media only screen (min-width:769px){

	.noteBook {
		grid-row: 1/9;
	}

}
