/*Sets the Dimensions of the website, manages Generic Font,
*/

/*Overall Document Settings*/
body {
	margin: auto;
	height: 768px;
	max-width: 1366px;
	display: grid;
	background-color: beige;
	grid-template-columns: repeat(16, 6.25%);
	grid-template-rows: repeat(8, 12.5%);
}

a {
	text-decoration: none; /*removes underline from hypertext*/
}

/*Header related Classes and Parameters*/
header {
	font: Impact, Charcoal, sans-serif;
	font-size: 25px;
	grid-column: 4/7;
	grid-row: 1;
}

/*Section Related Classes and Parameters*/
section {
	border-style: solid;
	border-bottom: 5px;
	border-left: 5px;
	border-right: 5px;
	border-color: black;
}

.proto1{
	grid-column: 4/10;
	grid-row: 3;
}

.proto2{
	grid-column: 10/16;
	grid-row: 3;
}

img{
	width:50%;
}

/*Footer Related Parameters*/
footer {
	text-align: center;
	background-color: aqua;
	position:fixed;
	bottom: 0;
	height: 250px;
}

footer a {
	color: beige;
}
